APP_NAME=stripe-docs-rag
APP_ENV=dev
APP_VERSION=0.1.0
LOG_LEVEL=INFO

SUPABASE_URL=https://hxmpdytlsejvbkasrhlb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4bXBkeXRsc2VqdmJrYXNyaGxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMDQyMTQsImV4cCI6MjA5Mzg4MDIxNH0.8Xi6EYifhN4DXrwkds5o6mNehx-hLo9g0GgjJW_pUoA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4bXBkeXRsc2VqdmJrYXNyaGxiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMwNDIxNCwiZXhwIjoyMDkzODgwMjE0fQ.uNl5ml3dZjJV69hjWhgDdTdz8a3bmzOV9SYuo0RSuy4
SUPABASE_DB_URL=postgresql://postgres.hxmpdytlsejvbkasrhlb:testpassworddb2026@aws-1-us-west-1.pooler.supabase.com:5432/postgres
LITELLM_API_KEY=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

SUPABASE_URL_MASTER=https://rmdfvtrdlcvrupukwogu.supabase.co
SUPABASE_ANON_KEY_MASTER=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtZGZ2dHJkbGN2cnVwdWt3b2d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NDgyMDUsImV4cCI6MjA5NDEyNDIwNX0.i_yi5jZHadk8682XKSim6FWh_IO0z15Mw5YJzTIiXVg
SUPABASE_SERVICE_ROLE_KEY_MASTER=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtZGZ2dHJkbGN2cnVwdWt3b2d1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU0ODIwNSwiZXhwIjoyMDk0MTI0MjA1fQ.h8Uz5JX1oBaiC0yn9cPwBCfn6VuCmtxYSANp_kHZMLk
SUPABASE_DB_URL_MASTER=postgresql://postgres.rmdfvtrdlcvrupukwogu:MasterRAG2026!@aws-1-us-west-1.pooler.supabase.com:5432/postgres
